bin
bin/*
.DS_STORE
hs_err_pid*.log
.myeclipse/
.settings/org.eclipse.m2e.core.prefs
data-bulk/*.txt
data/unrelated
/target/
all32kSigs.txt
all32kfiles.txt
allfilenames.txt
allfilenames.wc
clipped.txt
filenames.wc
files.list
junk.txt
searchFiles.txt
searchSigs.txt
signatures.txt.back
testFiles.txt
testSigs.txt
data-bulk/all32kSigs.txt.backup
data-bulk/junk.txt
doc/speedup-levenshtien.log
*.aux
*.log
*.pdf
