bin
bin/*
.DS_STORE
hs_err_pid*.log
.myeclipse/
.settings/org.eclipse.m2e.core.prefs
data-bulk/*.txt
data/unrelated
data/allfiles/
data/many/
/target/
./stash/*
stash
./data/gutenberg-real/allfiles/*
./data/allfiles/*
all32kSigs.txt
all32kfiles.txt
allfilenames.txt
allfilenames.wc
clipped.txt
filenames.wc
files.list
junk.txt
searchFiles.txt
searchSigs.txt
signatures.txt.back
testFiles.txt
testSigs.txt
data-bulk/all32kSigs.txt.backup
data-bulk/junk.txt
data/targets_*.csv
doc/speedup-levenshtien.log
data/allfiles-sigs.txt
data/testfile-sigs.txt
*.aux
*.log
*.pdf
*.swp
allfiles_sigs.csv.back
comp_ld.csv
comp_ld_targets_251_17.csv
cp.sh
data/awk
data/chinese/
data/comp_ld.back/
testdir/
testfile.txt
testfiles.csv
testfiles.csv.back
testlist.csv
tmp.sh
wc.csv

